.item {}

.item_wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px 0 20px 50px;
}

.item.active {
    background-color: var(--bg-main-gray);
}

.item a {
    text-decoration: none;
    color: var(--color-main-blue);
    font-size: 20px;
}