@import url('../../style.config.css');
.sidebar_wrapper {}

.sidebar {
    background-color: var(--bg-main-light);
    justify-content: center;
}

.brand_wrapper {
    padding: 2px 20px;
}

.brand {
    color: var(--color-main-blue);
    font-size: 40px;
    font-weight: 5;
    height: var(--size-header);
    display: flex;
    justify-content: center;
    align-items: center;
}