@import url('../../style.config.css');
.header_wrapper {
    padding: 0 40px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.header {
    height: var(--size-header);
}

.avatar img {
    height: 55px;
    width: 55px;
    border: 2px solid var(--color-main-blue);
    border-radius: 50px;
}

.avatar img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.account_name {
    font-size: 17px;
    color: var(--color-main-blue);
}

.account_role {
    font-size: 12px;
    color: #787486;
}